extends layout

block content
    
  .row.justify-content-center
    .col-sm-6
      legend New Pet
      #alert
      form(id="new-pet")
        .form-group
            label Name*
            input.form-control(name="name" required minlength="2" placeholder="Enter pet's name")
        .form-group
            label Birthday
            input.form-control(name="birthday" type="date")
        .form-group
            label Species*
            input.form-control(name="species" required placeholder="e.g., Dog, Cat, Bird")
        .form-group
            label Avatar*
            input.form-control(name="avatar" type="file" required)   
        .form-group
            label Favorite Food
            input.form-control(name="favoriteFood" placeholder="What does your pet love to eat?") 
        .form-group
            label Description
            textarea.form-control(name="description" rows="3" placeholder="Tell us about your pet...")
        .form-group
            label Price* ($)
            input.form-control(name="price" type="number" min="0" max="999999" step="0.01" required placeholder="0.00")
        button(type="submit").btn.btn-primary Save